{{ define "main" }}
<article>
  <header class="mt-10 py-2">
    <h3 class="flex justify-between">
      <a href="{{ .RelPermalink }}" class="font-bold text-lg">{{ .Title }}</a>
      <span class="text-gray-400 text-sm mt-1">{{ .Date.Format "Jan 2, 2006" }}</span>
    </h3>
    {{ with .Params.tags }}
      <div class="mt-2 flex flex-wrap gap-2">
        {{ range . }}
          <a href="/tags/{{ . | urlize }}/" class="inline-block bg-gray-100 text-gray-700 text-xs px-2 py-1 rounded hover:bg-gray-200">#{{ . }}</a>
        {{ end }}
      </div>
    {{ end }}
  </header>
  <section>{{ .Content }}</section>
</article>
{{ end }}
